.container{
    width:100%;
}



.part{
    width: 30%;
    border: 1px solid #959595;
    height: 500px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}


.part img{
    width: 100%;
    height: 300px;
}